.section-title
    &::after
        position: relative
        font-size: 11.5vw
        font-weight: 700
        opacity: .03
        color: $color-black
        top: 2.5rem
        left: 1rem
        line-height: 0
        text-transform: uppercase

        @media only screen and (min-width: $bp-largest)
            font-size: 8vw
            left: 20rem

        @media only screen and (max-width: $bp-medium)
            top: 0

        @media only screen and (max-width: $bp-small)
            top: 1rem
            opacity: .02

    &--about
        &::after
            content: 'about'

    &--portfolio
        &::after
            content: 'portfolio'
            color: $color-black

    &--contact
        &::after
            content: 'contact'

    &--landing-page
        &::after
            content: 'landing page'
            color: $color-black 

    &--landing-page-blk
        &::after
            content: 'landing page'
            color: $color-black 

    &--email
        &::after
            content: 'email'

    &--campaign-images
        &::after
            font-size: 9vw
            content: 'campaign images'

            @media only screen and (min-width: $bp-largest)
                font-size: 8vw
            
    &--overview
        &::after
            content: 'overview'

    &--persona
        &::after
            content: 'persona'

    &--card-sorting
        &::after
            content: 'Card Sorting'

    &--wireframes
        &::after
            content: 'wireframes'

    &--hi-fi-wireframes
        &::after
            font-size: 9vw
            content: 'hi-fi-wireframes'

            @media only screen and (min-width: $bp-largest)
                font-size: 8vw

    &--flowchart
        &::after
            content: 'flowchart'

    &--final-product
        &::after
            content: 'final product'
            font-size: 10vw

            @media only screen and (min-width: $bp-largest)
                font-size: 8vw

    &--beforeafter
        &::after
            content: 'before & after'

            @media only screen and (max-width: $bp-largest)
                font-size: 10vw

            @media only screen and (max-width: $bp-medium)
                font-size: 8vw

    &__text
        margin: 0 auto
        text-align: center
        font-size: 5rem
        font-weight: 700
        text-transform: uppercase
        padding-bottom: 1rem
        line-height: 1  

        @media only screen and (min-width: $bp-max-largest)
            font-size: 9rem

        @media only screen and (max-width: $bp-small)
            padding-bottom: .5rem

    &__border
        border-bottom: .5rem solid $color-primary
        width: 15rem
        margin: 0 auto

.header-h4
    font-size: 4rem
    font-weight: 400
    text-transform: uppercase
    
    @media only screen and (max-width: $bp-medium)
        margin: 0 auto


.inline-link
    color: $color-primary
    text-decoration: none


.center
    text-align: center !important