.btn:link,
.btn:visited
    background-color: #ee9022
    background: linear-gradient(to right, #ff7900, #ee8f21)
    border-radius: 0.5rem
    margin: auto
    display: inline-block
    cursor: pointer
    color: #ffffff
    text-decoration: none
    cursor: pointer
    transition: all .4s ease

.btn:hover
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .2)
    border-radius: 10rem
    transform: translateY(-2px)

.btn:active,
.btn:focus
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
    outline: none
    transform: translateY(2px)

.btn-sml:link,
.btn-sml:visited
    font-size: 1.6rem
    padding: 1.5rem 3.5rem

.btn-lrg:link,
.btn-lrg:visited
    font-size: 27px
    padding: 1.5rem 4rem