*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 65.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "nudista-web", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.6rem;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  text-align: center;
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  border: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #262626;
}

.orange {
  color: #F7921E;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}

.margin-top-small {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-top-small {
    margin-top: 1rem;
  }
}

.margin-top-medium {
  margin-top: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-top-medium {
    margin-top: 3rem;
  }
}

.margin-top-large {
  margin-top: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-top-large {
    margin-top: 5rem;
  }
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-bottom-small {
    margin-bottom: 1rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-bottom-medium {
    margin-bottom: 3rem;
  }
}

.margin-bottom-large {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .margin-bottom-large {
    margin-bottom: 5rem;
  }
}

/* ------  HEADER  ------ */
.header {
  background-image: url(../img/header-bk.jpg);
  background-size: cover;
  background-position: top center;
  height: 90rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .header__logo img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__text {
  padding: 0 1.5rem;
}

.header__secondary {
  font-size: 5rem;
  text-align: center;
  color: #262626;
  font-style: italic;
}

@media only screen and (max-width: 37.5em) {
  .header__secondary {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .header__secondary {
    font-size: 3rem;
  }
}

.header__primary {
  font-size: 6rem;
  text-align: center;
  color: #F7921E;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .header__primary {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .header__primary {
    font-size: 4rem;
  }
}

.header__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 68.75em) {
  .header__images img {
    width: 45%;
  }
}

/* ------  TABLE  ------ */
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .table {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -70rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .table {
    margin-top: -68rem;
  }
}

.table__column {
  width: 57.5rem;
  margin-top: -65rem;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .table__column {
    margin-top: -55rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .table__column {
    margin-top: 10rem;
  }
}

.table__background {
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 10px rgba(38, 38, 38, 0.1);
          box-shadow: 3px 3px 10px rgba(38, 38, 38, 0.1);
  margin: 0 1rem;
  margin-top: 10rem;
  border-radius: 3rem;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .table__background {
    margin-top: 3rem;
  }
}

.table__product {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .table__product {
    width: 90%;
  }
}

.table__logo {
  height: 12rem;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table__logo img {
  width: 90%;
  margin: 0 auto;
}

.table__product-name {
  height: 15rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table__product-name--h3 {
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
}

@media only screen and (max-width: 37.5em) {
  .table__product-name--h3 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .table__product-name--h3 {
    font-size: 3.2rem;
  }
}

.table__white {
  min-height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
}

@media only screen and (max-width: 37.5em) {
  .table__white {
    min-height: 25rem;
  }
}

.table__gray {
  min-height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0f0f0;
  border-radius: 10rem 0 10rem 0;
}

@media only screen and (max-width: 37.5em) {
  .table__gray {
    min-height: 25rem;
  }
}

.table__text {
  padding: 0 3rem;
}

@media only screen and (max-width: 37.5em) {
  .table__text {
    padding: 0 1.5rem;
  }
}

.table__title {
  font-size: 3.4rem;
}

@media only screen and (max-width: 37.5em) {
  .table__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .table__title {
    font-size: 2.8rem;
  }
}

.table__p {
  font-size: 2.7rem;
  font-style: italic;
  margin-top: 1rem;
  line-height: 1.3;
}

@media only screen and (max-width: 37.5em) {
  .table__p {
    font-size: 2.4rem;
  }
}

.table__text-small {
  font-size: 2.4rem;
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .table__text-small {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .table__text-small {
    font-size: 1.8rem;
  }
}

.table__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.table__updown {
  margin-left: 5rem;
}

.table__updown img {
  width: 60%;
}

.table__warranty {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .table__warranty img {
    width: 40%;
  }
}

.table__price {
  font-size: 6.5rem;
}

@media only screen and (max-width: 37.5em) {
  .table__price {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .table__price {
    margin-bottom: 5rem;
  }
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors img {
  width: 80%;
  margin: 0 auto;
}

.colors__name {
  font-size: 1.6rem;
  font-style: italic;
  margin-top: 1rem;
}

.colors__single {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 68.75em) {
  .colors__single {
    width: 55%;
  }
}

@media only screen and (max-width: 56.25em) {
  .colors__single {
    width: 35%;
  }
}

@media only screen and (max-width: 37.5em) {
  .colors__single {
    width: 45%;
  }
}

/* ------  MIDDLE  ------ */
.middle {
  text-align: center;
  position: relative;
}

.middle__text {
  font-size: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .middle__text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .middle__text {
    font-size: 2rem;
  }
}

.middle img {
  margin: 0 auto;
  width: 100%;
}

/* ------  PRODUCTS  ------ */
.products {
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.products__padding {
  padding: 2rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .products__padding {
    padding-bottom: 4rem;
  }
}

.products__box {
  width: 25%;
  margin: 0 1rem;
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 10px rgba(38, 38, 38, 0.1);
          box-shadow: 3px 3px 10px rgba(38, 38, 38, 0.1);
}

@media only screen and (max-width: 56.25em) {
  .products__box {
    width: 47%;
    margin: 1.5rem 1.5%;
  }
}

@media only screen and (max-width: 37.5em) {
  .products__box {
    width: 100%;
    margin: 1.5rem 5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .products__box {
    margin: 1rem 1.5rem;
  }
}

.products__img img {
  width: 100%;
}

.products__title {
  height: 4.5rem;
}

@media only screen and (max-width: 37.5em) {
  .products__title {
    height: 100%;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .products__title {
    margin-bottom: 1.5rem;
  }
}

.products__title h3 {
  font-size: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .products__title h3 {
    font-size: 2.5rem;
  }
}

.products__colors {
  margin: 1rem;
  margin-bottom: 2rem;
  min-height: 5rem;
}

.products__colors img {
  max-width: 4.5rem;
  width: 100%;
  margin: 0 .2rem;
}

@media only screen and (max-width: 37.5em) {
  .products__colors img {
    max-width: 7rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .products__colors img {
    max-width: 4.5rem;
  }
}

/* ------  FOOTER  ------ */
.footer {
  background: #F7921E;
  color: #ffffff;
  text-align: center;
  padding: 4rem 0;
}

.footer__text {
  padding: 0 1.5rem;
}

.footer h3 {
  font-size: 2.5rem;
  font-weight: 300;
}

.footer p {
  font-size: 1.6rem;
}

/* ------  BUTTONS  ------ */
.btn, .btn:link, .btn:visited {
  padding: 1.7rem 2.7rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 37.5em) {
  .btn, .btn:link, .btn:visited {
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
  }
}

.btn:hover, .btn:link:hover, .btn:visited:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
          transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 2px 2px 15px rgba(38, 38, 38, 0.3);
          box-shadow: 2px 2px 15px rgba(38, 38, 38, 0.3);
}

.btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
}

.btn-primary {
  color: #ffffff;
  background: #F7921E;
  border: 3px solid #F7921E;
  -webkit-box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
}

@media only screen and (max-width: 37.5em) {
  .btn-primary {
    border: 2px solid #F7921E;
  }
}

.btn-primary:hover {
  -webkit-box-shadow: 2px 2px 15px rgba(38, 38, 38, 0.3);
          box-shadow: 2px 2px 15px rgba(38, 38, 38, 0.3);
}

.btn-primary:active {
  -webkit-box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.2);
}

.btn-secondary {
  color: #F7921E;
  background: transparent;
  border: 3px solid #F7921E;
}

@media only screen and (max-width: 37.5em) {
  .btn-secondary {
    border: 2px solid #F7921E;
  }
}

.btn-secondary:hover {
  color: #ffffff;
  background: #F7921E;
}

.btn-small {
  padding: 1.3rem 2.3rem;
  font-size: 1.5rem;
}

.btn-fake {
  padding: 1.7rem 2.7rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #F7921E;
  background: transparent;
  border: 3px solid #F7921E;
}
/*# sourceMappingURL=main.css.map */